<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListProductServlet</servlet-name>
        <servlet-class>servlets.ListProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BasketServlet</servlet-name>
        
        <servlet-class>servlets.BasketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContentFormManager</servlet-name>
        <servlet-class>servlets.ContentFormManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListProductServlet</servlet-name>
        <url-pattern>/ListProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BasketServlet</servlet-name>
        <url-pattern>/basket.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContentFormManager</servlet-name>
        <url-pattern>/ContentFormManager</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Constraint1</display-name>
        <web-resource-collection>
            <web-resource-name>Customers' web pages</web-resource-name>
            <description/>
            <url-pattern>/order.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>customer</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>Aquarium Store Login</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            
            <form-error-page>/loginfailed.jsp</form-error-page>
            
        </form-login-config>
        
    </login-config>
    <security-role>
        <description>Customers' roles</description>
        <role-name>customer</role-name>
    </security-role>
   
</web-app>
